@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: #d4dcf1;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  background-color: rgb(81, 81, 255);
}
